{% extends "admin/base.html" %}
{% load i18n %}
 
{% block title %}{{ title }} | {% trans 'Sistema de Gerenciamento de Loja' %}{% endblock %}
 
{% block branding %}
<style type="text/css">
  #header
  {
    /* your style here */
  }
</style>
<h1 id="site-name">{% trans 'Sistema de Gerenciamento de Loja' %}</h1>
{% endblock %}
 
{% block nav-global %}{% endblock %}